<noscript><p id="javascript-warning"><%= t(".javascript") %></p></noscript>

<!-- BEGIN header -->
<% if @collection %>
  <style type="text/css">
  #header h2 {
    background: #616C90 <% if (header_url = @collection.header_image_url || (@collection_parent && @collection_parent.header_image_url)) %>
      <% height = (size = FastImage.size(header_url, timeout: 1)) ? "#{size[1]}px" : "100%" %>
      url(<%= header_url %>); height: <%= height %>
    <% end %>;
  }
  </style>
<% end %>

<header id="header" class="region<% if @collection %> collection<% end %>">
  <% if logged_in_as_admin? %>
    <%= render "admin/header" %>
  <% end %>

  <% if @collection %>
    <h2 class="collections">
      <% unless @collection.header_image_url.present? %>
        <%= @collection.title || @collection_parent&.title || t(".collections.new") %>
      <% end %>
    </h2>
  <% end %>
</header>

<%= render "layouts/banner" %>

<!-- END header -->
